PORT=3000
NODE_ENV=development

IAS_LOGIN_URL=https://tpa.staging.ins-link.com/auth/login.do?formAction=preLogin
IAS_USERNAME=
IAS_PASSWORD=
PLAYWRIGHT_HEADLESS=true
IAS_LOGIN_MAX_RETRIES=2
PREVIEW_CAPTURE_INTERVAL_MS=1000
AUTOMATION_STEP_DELAY_MS=750
AUTOMATION_TYPING_DELAY_MS=80
